*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conteiner{
    text-align: center;
}

button{
    background: #4916d8;
    color: white;
    font-size: 32px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0;
}